<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form action="/following" method="post">

           <div class="one">
           <label for="username">Name</label>   
            <input type="text" placeholder="name" name="username">
        </div>
        <div class="two">
            <label for="password">Password</label>
            <input type="text" placeholder="password" name="password">
        </div>
        <div class="two">
            <label for="targetid">Target Acoount</label>
            <input type="text" placeholder="Userid" name="targetid">
        </div>
        <button type="submit">Ok</button>
         
      </form>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="one">

    </div>
</body>
</html>